.post
  h1.post--title #{ public.posts._data.another.title }
  span.post--meta #{ public.posts._data.another.date }
  div.post--content
    <p>I have built this using a new build system. It’s a little crazy</p>
<p>I don’t want to stop</p>

