.post
  h1.post--title #{ public.posts._data.test-post.title }
  span.post--meta #{ public.posts._data.test-post.date }
  div.post--content
    <p>This is a markdown file.
This content will be sucked into the blog_article template.</p>

